{% extends "base_front.html" %}
{% block body %}
<body class="index">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
              <img class="img-circle" src="static/primerslide.jpg" alt="" style="width: 170px; height: 170px;">
              <h2>Refuerzos</h2>
              <p>Se parte de nuestro partnership y disfruta de los beneficios de la comunidad más grande de ventaneros en PVC de Chile</p>
              <div class="btn-detalles">
                <p><button type="button" class="btn btn-light" href="mecanizados.html">Detalles &raquo;</button></p>
              </div>
            </div>
            <div class="col-lg-4">
              <img class="img-circle" src="static/primerslide.jpg" alt="" style="width: 170px; height: 170px;">
              <h2>Perfiles Especiales</h2>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <div class="btn-detalles">
                <p><button type="button" class="btn btn-light" href="mecanizados.html">Detalles &raquo;</button></p>
              </div>
            </div>
            <div class="col-lg-4">
              <img class="img-circle" src="static/primerslide.jpg" alt="" style="width: 170px; height: 170px;">
              <h2>Mecanizados</h2>
              <p>En Steel+ nos preocupamos que el producto cumpla con las especificaciones de calidad y geometría que merece la industria, para ello contamos con el mejor recurso humano del mercado.</p>
              <div class="btn-detalles">
                <p><button type="button" class="btn btn-light" href="mecanizados.html">Detalles &raquo;</button></p>
              </div>
              </div>
        </div>

        <main class="text-center">
            <hr class="sm sm-default"/>
                <h2>Contacto</h2>
                <address class="contact-info text-left">
                    <dl>
                        <div class="direccion">
                        <dt class="h6 text-uppercase">Telefonos <i class="fas fa-phone"></i></dt>
                        </div>
                        <dd>+56 2 2759 5087</dd>
                        <dd>+56 9 8829 5769</dd>
                        <div class="direccion">
                        <dt class="h6 text-uppercase">E-mail <i class="fas fa-envelope"></i></i></dt>
                        </div>
                        <dd><a href="mailto:#">aherrera@steelplus.cl</a></dd>
                        <div class="direccion">
                        <dt class="h6 text-uppercase">Direccion <i class="fas fa-map-marker-alt"></i></dt>
                          <dd><strong>Casa Matriz</strong> • El Juncal 0240, Quilicura • Chile</dd>
                        <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3333.387795391497!2d-70.73090078430423!3d-33.33481718080726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c0af53546ac7%3A0xbdbc4206770a1f71!2sEl+Juncal+240%2C+Quilicura%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1546894361216" width="900" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                                  </div>
                          <dd><strong>Sucursal</strong> • Los Boldos 2155, Temuco • Chile</dd>
                        <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.923835377913!2d-72.57878858418786!3d-38.74250997959487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9614d3d63371ebb5%3A0x9b394abdc96462ec!2sLos+Boldos%2C+Temuco%2C+Regi%C3%B3n+de+la+Araucan%C3%ADa!5e0!3m2!1ses-419!2scl!4v1546549399313" width="900" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        </div>
                    </dl>
              </address>

          <hr class="featurette-divider">

          <footer class="pie-de-pagina">
              <p class="pull-right"><a href="#"><i class="fas fa-chevron-up"></i></a></p>
          </footer>

      </main>
    </div>
    </main>
</body>
{% endblock %}